root = true

[*.html]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true

[*.js]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true

[*.css]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
